__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.idea/
.vscode/

.env
*.log
*.db
*.sqlite
*.sqlite3

migrations/__pycache__/

models/chinese-emotion/model.safetensors

result*.xlsx
nsga3plus_optimized_results.json
warm_initialized.flag
